# these are my private folders
archived/
work/

# no built roots
bootstrap.tar.gz
root-base/
**/root/

# no large binary images
*.iso
*.img
*.qcow2

# no locks
*.lck

# the calamares settings in calatest is temporary; its for testing only
calatest/calamares-settings/

# ad hoc
rescue/oem/before/pkgs/linux-firmware-rescue.deb