[Desktop Entry]
Type=Application
Version=1.0
Name=Install Lubuntu 24.04 LTS
Name[ar]=تنصيب لوبينتو 24.04 LTS
Name[ca]=Instal·lar Lubuntu 24.04 LTS
Name[da]=Installer Lubuntu 24.04 LTS
Name[de]=Lubuntu 24.04 LTS installieren
Name[es]=Instalar Lubuntu 24.04 LTS
Name[fr]=Installer Lubuntu 24.04 LTS
Name[it]=Installa Lubuntu 24.04 LTS
Name[no]=Installer Lubuntu 24.04 LTS
Name[pl]=Zainstaluj Lubuntu 24.04 LTS
Name[pt]=Instalar o Lubuntu 24.04 LTS
Name[pt_BR]=Instalar Lubuntu 24.04 LTS
GenericName=Install Lubuntu
GenericName[ar]=تنصيب لوبينتو
GenericName[ca]=Instal·lar Lubuntu
GenericName[da]=Installer Lubuntu
GenericName[de]=Lubuntu installieren
GenericName[es]=Instalar Lubuntu
GenericName[fr]=Installer Lubuntu
GenericName[it]=Installa Lubuntu
GenericName[no]=Installer Lubuntu
GenericName[pl]=Zainstaluj Lubuntu
GenericName[pt]=Instalar o Lubuntu
GenericName[pt_BR]=Instalar Lubuntu
Exec=sudo -E /usr/bin/calamares-launch-normal
Comment=Calamares — System Installer
Comment[ar]=الحبار — منصب النظام
Comment[ca]=Calamares — Instal·lador del Sistema
Comment[da]=Calamares - System installation
Comment[de]=Calamares — System Installer
Comment[es]=Calamares — Instalador del Sistema
Comment[fr]=Calamares  — Installateur de votre system
Comment[it]=Calamares — Installatore del Sistema
Comment[no]=Calamares — System installerer
Comment[pl]=Calamares — Instalator systemu
Comment[pt]=Calamares — Instalador do Sistema
Comment[pt_BR]=Calamares — Instalador do sistema
Icon=lubuntu-installer
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
